.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form button {
    padding: 10px;
    background-color: #004d18;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form a {
    text-align: center;
    margin-top: 10px;
}

@media (max-width: 480px) {
    .form {
        width: 90%;
    }
}