.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e7d32;
  padding: 0.5rem 1rem;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  flex-wrap: wrap; /* Wichtig für das Umbrechen */
}

.logo {
  display: flex;
  align-items: center;
  /* width: auto; */
}

.nav {
  display: flex;
  gap: 0.25rem;
  flex-wrap: nowrap;
  justify-content: center; /* Zentriert die Links */
  align-items: center;
}

.nav a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding: 0.15rem 0.3rem;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  font-size: 0.75rem;
}

.nav a:hover {
  background-color: #1b5e20;
  text-decoration: none;
}

/* Mobile Optimierung */
@media (max-width: 600px) {
  .header {
    flex-direction: column; /* Stapelt Logo, Titel, Navigationsleiste übereinander */
    align-items: center; /* Zentriert Inhalt horizontal */
    justify-content: flex-start; /* Links */
  }

  .logo {
    margin-right: auto; /* Logo links */
    margin-bottom: 0.50rem; /* Abstand zwischen Logo und Titel */
    width: 100%; /* Logo volle Breite */
    text-align: left; /* Text linksbündig */
  }

  .nav {
    width: 100%; /* Navigationsleiste volle Breite */
    justify-content: space-around; /* Gleichmäßiger Abstand */
    margin-top: 0.25rem; /* Abstand zwischen Titel und Navigationsleiste */
    gap: 0.1rem; /* Kleinerer Abstand zwischen Links */
  }

  .nav a {
    flex: 1; /* Gleiche Breite für Links */
    text-align: center; /* Zentriert Text in Links */
    padding: 0.1rem 0.2rem; /* Kleinerer Innenabstand */
    font-size: 0.65rem; /* Kleinere Schriftgröße */
  }
}